<h1> Edit your profile</h1>

<%= form_for(@traveller, url: traveller_path(@traveller), action: "put") do |f| %>
  <%= fields_for :country do |builder| %>
  <fieldset>
    <%= builder.label :currency_name %>
    <%= builder.collection_select(:country_ids, Country.select('DISTINCT currency_name').order(:currency_name), :id, :currency_name) %> 
  </fieldset>
<% end %>
<fieldset>
  <%= f.submit "Update" %>
</fieldset>
<% end %>