<h1 id="edit-header"><%= @airport.municipality %></h1>

<%= form_for(@airport, url: airport_path(@airport), action: "put", :html => {:class => 'form', :id => 'edit-form'}) do |f| %>
  <fieldset>
    <%= f.label :content %>
    <%= f.text_area :content %> 
  </fieldset>
  <fieldset>
    <%= f.submit "Update",:id => 'edit-button', :class => 'button' %>
  </fieldset>
<% end %>