<!DOCTYPE html>
<html>
  <head>
    <title>TravelMatch</title>
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  </head>

  <body>
    <header>
      <% if traveller_signed_in? %>
        <%= render partial: '/layouts/home/traveller_header' %>
      <% elsif admin_signed_in? %>
        <%= render partial: '/layouts/admins/admin_header' %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
